<section id="my-login-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card-wrapper mx-auto">
          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title text-center">Cadastrar Serviço</h4>
              <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input id="nome" type="text" class="form-control" formControlName="nome" autofocus>
                  <app-campo-erro [msgErro]="mensagensNomeInvalido()" [mostrarErro]="verificaCampoInvalido('nome')">
                  </app-campo-erro>
                </div>

                <div class="form-group">
                  <label for="descricao">Descrição</label>
                  <input id="descricao" type="text" class="form-control" formControlName="descricao">
                  <app-campo-erro [msgErro]="mensagensDescricaoInvalido()" [mostrarErro]="verificaCampoInvalido('descricao')">
                  </app-campo-erro>
                </div>

                <div class="form-group">
                  <label for="valor">Valor</label>
                  <input id="valor" type="number" step="0.01" min="0" max="1500" class="form-control" formControlName="valor">
                  <app-campo-erro [msgErro]="mensagensValorInvalido()" [mostrarErro]="verificaCampoInvalido('valor')">
                  </app-campo-erro>
                </div>

                <div class="form-group no-margin">
                  <button type="submit" class="btn btn-primary btn-block">
                    Cadastrar Serviço
                  </button>
                </div>
              </form>

              <app-campo-erro [msgErro]="apiError" [mostrarErro]="apiError.length != 0">
              </app-campo-erro>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>