<section id="my-login-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card-wrapper mx-auto">
          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title text-center">Configurações da Conta</h4>
              <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="name">Nome</label>
                  <input id="name" type="text" class="form-control" formControlName="nome">
                  <app-campo-erro
                    [msgErro]="mensagensNomeInvalido()"
                    [mostrarErro]="verificaCampoInvalido('nome')">
                  </app-campo-erro>
                </div>

                <div class="form-group">
                  <label for="cpf">CPF</label>
                  <input id="cpf" type="text" class="form-control" formControlName="cpf" readonly>
                </div>

                <div class="form-group">
                  <label for="Cargo">Cargo</label>
                  <input id="cargo" type="text" class="form-control" formControlName="cargo" readonly>
                </div>

                <div class="form-group">
                  <label for="email">E-Mail</label>
                  <input id="email" type="email" class="form-control" formControlName="email" readonly>
                </div>

                <div class="form-group">
                  <label for="password">Senha</label>
                  <show-hide-password icon="fontawesome">
                    <input id="password" type="password" class="form-control" formControlName="senha">
                  </show-hide-password>
                  <app-campo-erro
                    [msgErro]="mensagensSenhaInvalida()"
                    [mostrarErro]="verificaCampoInvalido('senha')">
                  </app-campo-erro>
                </div>

                <div class="form-group">
                  <label for="password-check">Confirmar Senha</label>
                  <show-hide-password icon="fontawesome">
                    <input id="password-check" type="password" class="form-control" formControlName="confirmarSenha">
                  </show-hide-password>
                  <app-campo-erro
                    [msgErro]="mensagensConfirmarSenhaInvalida()"
                    [mostrarErro]="verificaConfirmarSenha()">
                  </app-campo-erro>
                </div>

                <div class="form-group no-margin">
                  <button type="submit" class="btn btn-primary btn-block">
                    Salvar
                  </button>
                </div>
              </form>

              <app-campo-erro
                    [msgErro]="apiError"
                    [mostrarErro]="apiError.length != 0">
              </app-campo-erro>
            </div>
          </div>
        </div>
        <app-form-debug [form]="formulario"></app-form-debug>
      </div>
    </div>
  </div>
</section>