<section id="my-login-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card-wrapper mx-auto">
          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title text-center">Cadastrar Serviço</h4>
              <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                
                <div class="form-group">
                  <label for="situacao" class="control-label">Serviços</label>
                  <select class=situacao>
                    <option value="None">Selecione</option>
                    <!-- GETTING ALL SERVICES BY API -->
                  </select>
                </div>
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>