<section id="my-login-page">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>
          Lista de Agendamentos
        </p>

        <div class="list-group">
          <a class="list-group-item list-group-item-action" [class.active]="agendamentoActivated == agendamento" *ngFor="let agendamento of agendamentos"
            (click)="onItemClicked(agendamento)">
            {{ "Agendamento " + agendamento.id }}
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary btn-block" *ngIf="agendamentoActivated !== undefined && agendamentoActivated !== null" (click)="onEdit()">
          {{ isEditing ? "Cancelar Edição" : "Editar" }}
        </button>
        <form *ngIf="agendamentoActivated !== undefined && agendamentoActivated !== null" [formGroup]="formulario" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="id">ID</label>
            <input id="id" type="text" class="form-control" formControlName="id">
          </div>

          <div class="form-group">
            <label for="situacao">Selecione a situação:</label>
            <select id="situacao" class="form-control" [attr.disabled]="!isEditing ? '' : null" formControlName="situacao">
              <option *ngFor="let situacao of getSituacao()" [selected]="agendamentoActivated.situacao == situacao">{{ situacao }}</option>
            </select>
          </div>

          <div class="form-group">
              <label for="pagamento">Selecione o status do pagamento:</label>
              <select id="pagamento" class="form-control" [attr.disabled]="!isEditing ? '' : null" formControlName="pagamento">
                <option *ngFor="let pagamento of getPagamento()" [selected]="agendamentoActivated.pagamento == pagamento">{{ pagamento }}</option>
              </select>
            </div>

          <div class="form-group">
            <h6>Servicos</h6>
            <table class="table">
              <caption class="text-right">Total: {{ total | currency:'BRL' }}</caption>
              <thead class="thead-light">
                <tr class="text-center">
                  <th scope="col">Id</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let service of agendamentoActivated.servicos" class="text-center">
                  <th scope="row">{{ service.id }}</th>
                  <td>{{ service.nome }}</td>
                  <td>{{ service.descricao }}</td>
                  <td>{{ service.valor | currency:'BRL' }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="form-inline">
            <div class="form-group">
              <h6>Selecione a data:</h6>
              <fieldset disabled>
                <div id="date-picker" class="input-group">
                  <input class="form-control" placeholder="dd/MM/yyyy" [(ngModel)]="data" ngbDatepicker #d="ngbDatepicker" [ngModelOptions]="{standalone: true}">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>

          <div class="form-inline">
            <div class="form-group">
              <h6>Selecione o horário:</h6>
              <fieldset disabled>
                <ngb-timepicker id="time-picker" [(ngModel)]="horario" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
              </fieldset>
            </div>
          </div>

          <div *ngIf="isEditing" class="form-group no-margin">
            <button type="submit" class="btn btn-primary btn-block">
              Atualizar Agendamento
            </button>
          </div>
        </form>

        <app-campo-erro [msgErro]="apiError" [mostrarErro]="apiError.length != 0">
        </app-campo-erro>
      </div>
    </div>
  </div>
</section>