<section>
  <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
  <div class="container">
    <div class="row text-center">
      <div class="center-all">
        <div class="col-md-3 element">
          <img src="https://www.pompeiibrand.com/skin/frontend/pompeii/default/images/faq_1.svg" alt="" />
          <h3>Pedidos y General</h3>
        </div>
        <div class="col-md-3 element">
          <img src="https://www.pompeiibrand.com/skin/frontend/pompeii/default/images/faq_2.svg" alt="" />
          <h3>Pagos</h3>
        </div>
        <div class="col-md-3 element">
          <img src="https://www.pompeiibrand.com/skin/frontend/pompeii/default/images/faq_3.svg" alt="" />
          <h3>My Pompeii</h3>
        </div>
        <div class="col-md-3 element">
          <img src="https://www.pompeiibrand.com/skin/frontend/pompeii/default/images/faq_4.svg" alt="" />
          <h3>Envios y Entregas</h3>
        </div>
        <div class="col-md-3 element">
          <img src="https://www.pompeiibrand.com/skin/frontend/pompeii/default/images/faq_5.svg" alt="" />
          <h3>Cambios y Devoluciones</h3>
        </div>
        <div class="col-md-3 element">
          <img src="https://www.pompeiibrand.com/skin/frontend/pompeii/default/images/faq_6.svg" alt="" />
          <h3>Cambios y Devoluciones</h3>
        </div>
      </div>
    </div>
  </div>
</section>