<section>
  <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
  <div class="container">
      <div class="row">
        <div class="center-all">
          <div class="col-3 col-sm-3 col-md-4 element">
            <img src="assets/img/icons-barber/barbershop.png" alt="" />
            <h3>Solicitar Serviço</h3>
          </div>
          <div class="col-3 col-sm-2 col-md-4 element">
            <img src="assets/img/icons-barber/calendar.png" alt="" />
            <h3>Minha Agenda</h3>
          </div>
          <!-- <div class="col-3 col-sm-2 col-md-4 element">
            <img src="assets/img/icons-barber/coupon.png" alt="" />
            <h3>Cupons</h3>
          </div> -->
          <a class="col-3 col-sm-3 col-md-4 element" routerLink="/dashboard/configurar-conta">
            <img src="assets/img/icons-barber/settings.png" alt="" />
            <h3>Configurar Conta</h3>
          </a>
        </div>
      </div>
    </div>
</section>