<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Serviços</h2>
                <h3 class="section-subheading text-muted">Tudo sobre nossos serviços</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">E-Commerce</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum
                    ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Responsive Design</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum
                    ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Web Security</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum
                    ex magni, dicta impedit.</p>
            </div>
        </div>
    </div>
</section>

<!-- Working Grid -->
<section class="bg-light" id="working">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Horários</h2>
                <h3 class="section-subheading text-muted">Fique por dentro do quadro de horários.</h3>
            </div>
        </div>
        <div class="row">
            <!-- Service #1 -->
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="time-panel">
                    <h3>Seg</h3>
                    <ul class="list-unstyled mb-0">
                        <li>10:00</li>
                        <li>às</li>
                        <li>18:00</li>
                    </ul>
                </div>
                <!-- .time-panel end -->
            </div>
            <!-- .col-md-2 end -->

            <!-- Service #2 -->
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="time-panel">
                    <h3>Ter</h3>
                    <ul class="list-unstyled mb-0">
                        <li>10:00</li>
                        <li>às</li>
                        <li>18:00</li>
                    </ul>
                </div>
                <!-- .time-panel end -->
            </div>
            <!-- .col-md-2 end -->

            <!-- Service #3 -->
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="time-panel">
                    <h3>Qua</h3>
                    <ul class="list-unstyled mb-0">
                        <li>10:00</li>
                        <li>às</li>
                        <li>18:00</li>
                    </ul>
                </div>
                <!-- .time-panel end -->
            </div>
            <!-- .col-md-2 end -->

            <!-- Service #4 -->
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="time-panel">
                    <h3>Qui</h3>
                    <ul class="list-unstyled mb-0">
                        <li>10:00</li>
                        <li>às</li>
                        <li>18:00</li>
                    </ul>
                </div>
                <!-- .time-panel end -->
            </div>
            <!-- .col-md-2 end -->

            <!-- Service #5 -->
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="time-panel">
                    <h3>Sex</h3>
                    <ul class="list-unstyled mb-0">
                        <li>10:00</li>
                        <li>às</li>
                        <li>18:00</li>
                    </ul>
                </div>
                <!-- .time-panel end -->
            </div>
            <!-- .col-md-2 end -->

            <!-- Service #6 -->
            <div class="col-xs-6 col-sm-4 col-md-2">
                <div class="time-panel">
                    <h3>Sab</h3>
                    <ul class="list-unstyled mb-0">
                        <li>9:00</li>
                        <li>às</li>
                        <li>16:00</li>
                    </ul>
                </div>
                <!-- .time-panel end -->
            </div>
            <!-- .col-md-2 end -->

        </div>
    </div>
</section>

<!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">About</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="../assets/img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2011</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,
                                    totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et
                                    ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="../assets/img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2011</h4>
                                <h4 class="subheading">An Agency is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,
                                    totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et
                                    ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="../assets/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2012</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,
                                    totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et
                                    ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="../assets/img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,
                                    totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et
                                    ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team -->
<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Nossa Equipe</h2>
                <h3 class="section-subheading text-muted">Amantes de barba.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../assets/img/team/1.jpg" alt="">
                    <h4>Matheus Braz</h4>
                    <p class="text-muted">Barbeiro</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../assets/img/team/2.jpg" alt="">
                    <h4>José Vitor</h4>
                    <p class="text-muted">Barbeiro</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../assets/img/team/3.jpg" alt="">
                    <h4>Luhan Lacerda</h4>
                    <p class="text-muted">Barbeiro</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../assets/img/team/3.jpg" alt="">
                    <h4>Tchoco</h4>
                    <p class="text-muted">Barbeiro</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis
                    ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Contato</h2>
                <h3 class="section-subheading text-muted">Contate sempre que necessitar.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fa fa-phone fa-3x mb-3"></i>
                <p>3333-3333</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <a href="mailto:barber@mail.com">
                    <i class="fa fa-envelope-o fa-3x mb-3"></i>
                    <p>barber@mail.com</p>
                </a>
            </div>
        </div>
    </div>
</section>