<section id="my-login-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card-wrapper mx-auto">
          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title text-center">Registrar</h4>
              <!--form>
                <div class="form-group">
                  <label for="name">Nome</label>
                  <input id="name" type="text" class="form-control" name="name" required autofocus>
                </div>

                <div class="form-group">
                  <label for="email">E-Mail</label>
                  <input id="email" type="email" class="form-control" name="email" required>
                </div>

                <div class="form-group">
                  <label for="password">Senha</label>
                  <show-hide-password icon="fontawesome">
                    <input id="password" type="password" class="form-control" name="password" required>
                  </show-hide-password>
                </div>

                <div class="form-group">
                  <label for="password-check">Confirmar Senha</label>
                  <show-hide-password icon="fontawesome">
                    <input id="password-check" type="password" class="form-control" name="password-check" required data-eye>
                  </show-hide-password>
                </div>

                <div class="form-group no-margin">
                  <button type="submit" class="btn btn-primary btn-block">
                    Registrar
                  </button>
                </div>
                <div class="margin-top20 text-center">
                  Já possui uma conta?
                  <a routerLink="/login">Login</a>
                </div>
              </form-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>